<tr>
    <td style="text-align: center">
        {{act_number}}
    </td>
    <td>
        {{act}}
    </td>
    <td style="text-align: center"> 
        {{act_count}}
    </td>
    <td style="text-align: right">
        {{act_unit}}
    </td>
    <td style="text-align: right">
        {{act_price}}
    </td>
    <td style="text-align: right">
        {{act_summ}}
    </td>
</tr>