<tr>
    <td>{{invoice_name}}</td>
    <td>--</td>
    <td>796</td>
    <td>шт</td>
    <td>{{invoice_count}}</td>
    <td>{{invoice_price_without_nds}}</td>
    <td>{{invoice_summ_without_nds}}</td>
    <td>без акциза</td>
    <td>18%</td>
    <td>{{invoice_nds}}</td>
    <td>{{invoice_summ}}</td>
    <td>--</td>
    <td>--</td>
    <td>--</td>
</tr>
